/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* Base Typography */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
    /* Light gray background */
}

.tracking-widest-header {
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

/* Form Elements Customization */
.custom-input {
    width: 100%;
    border: 0;
    background-color: white;
    padding: 1rem;
    /* 16px */
    color: #374151;
    /* gray-700 */
    border-radius: 0.75rem;
    /* 12px */
    transition: all 0.2s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.custom-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #e5e7eb;
    /* focus:ring-gray-200 */
}

.input-label {
    display: block;
    font-size: 0.75rem;
    /* text-xs */
    font-weight: 500;
    color: #9ca3af;
    /* gray-400 */
    margin-bottom: 0.5rem;
    margin-left: 0.25rem;
}

/* Checkbox custom style */
.custom-checkbox {
    height: 1.25rem;
    /* 20px */
    width: 1.25rem;
    border-radius: 0.25rem;
    border-color: #d1d5db;
    /* border-gray-300 */
    color: #0d9488;
    /* text-teal-600 */
}